{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
    
    <h1 class="hor-naslov w3-animate-top">Horoskop</h1>
{#    <a href="{% url 'prikazi_znak' 'ovan' %}">Ovan</a>#}
    
    
    <div class="znakovi-index">
        
        <div class="znak-logo w3-animate-left w3-theme-l2">
            <a href="{% url 'horoskop' 'ovan' %}" onclick="showSpinner()">Ovan</a>
        </div>
        
        <div class="znak-logo w3-animate-right w3-theme-l2">
            <a href="{% url 'horoskop' 'bik' %}" onclick="showSpinner()">Bik</a>
        </div>
    
        <div class="znak-logo w3-animate-left w3-theme-l2">
            <a href="{% url 'horoskop' 'blizanci' %}" onclick="showSpinner()">Blizanci</a>
        </div>
    
        <div class="znak-logo w3-animate-right w3-theme-l2">
            <a href="{% url 'horoskop' 'rak' %}" onclick="showSpinner()">Rak</a>
        </div>
        
        <div class="znak-logo w3-animate-left w3-theme-l2">
            <a href="{% url 'horoskop' 'lav' %}" onclick="showSpinner()">Lav</a>
        </div>
    
        <div class="znak-logo w3-animate-right w3-theme-l2">
            <a href="{% url 'horoskop' 'devica' %}" onclick="showSpinner()">Devica</a>
        </div>
    
        <div class="znak-logo w3-animate-left w3-theme-l2">
            <a href="{% url 'horoskop' 'vaga' %}" onclick="showSpinner()">Vaga</a>
        </div>
    
        <div class="znak-logo w3-animate-right w3-theme-l2">
            <a href="{% url 'horoskop' 'skorpija' %}" onclick="showSpinner()">Škorpija</a>
        </div>
    
        <div class="znak-logo w3-animate-left w3-theme-l2">
            <a href="{% url 'horoskop' 'strelac' %}" onclick="showSpinner()">Strelac</a>
        </div>
    
        <div class="znak-logo w3-animate-right w3-theme-l2">
            <a href="{% url 'horoskop' 'jarac' %}" onclick="showSpinner()">Jarac</a>
        </div>
    
        <div class="znak-logo w3-animate-left w3-theme-l2">
            <a href="{% url 'horoskop' 'vodolija' %}" onclick="showSpinner()">Vodolija</a>
        </div>
    
        <div class="znak-logo w3-animate-right w3-theme-l2">
            <a href="{% url 'horoskop' 'ribe' %}" onclick="showSpinner()">Ribe</a>
        </div>
    
    </div>
    
    
{% endblock %}
